
body {
  font-family: 'Arvo', serif;
  background-color: #F5F5DC;
}

.game-header {
  font-family: 'Diplomata SC', cursive;
  font-size: 40px;
  text-align: center;
}

.jumbotron {
  background-image: url("../images/backing_vein.jpg");
  background-size: 100%;
  height: 280px;
}

#firstGem {
  position: absolute;
  top: 20%;
  left: 14%;
}

#secondGem {
  position: absolute;
  bottom: 50%;
  left: 34%;
}

#thirdGem {
  position: absolute;
  top: 20%;
  right: 34%;
}

#fourthGem {
  position: absolute;
  bottom: 50%;
  right: 14%;
}

.gem {
    border-radius: 16px;
}

.instructions {
  margin-top: -30px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-width: medium;
}

.match,
.total,
.tally {
  text-align: center;
}

.match,
.total {
  text-align: center;
  border-bottom-style: solid;
  border-width: medium;
}

#match-number,
#running-total {
  font-size: 22px; 
}

.start-reset {
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-start,
.button-reset {
  background-color: #8FBC8F;
  font-size: 18px;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 60px;
}
